.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.emacs.d/el-get/*
.emacs.d/semanticdb
.emacs.d/auto-save-list
.emacs.d/eshell
.emacs.d/backup
.emacs.d/elpa/*
.emacs.d/semanticdb
.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/tramp
.emacs.d/.emacs.desktop
[#]*[#]
.\#*
*~
