[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vimsurround"]
	path = .vim/bundle/vimsurround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule ".vim/bundle/vim-supertab"]
	path = .vim/bundle/vim-supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/mineiro/vim-latex.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/pyflakes-pathogen"]
	path = .vim/bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/TaskList"]
	path = .vim/bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/rope-vim"]
	path = .vim/bundle/rope-vim
	url = https://github.com/sontek/rope-vim.git
[submodule ".vim/bundle/pytest"]
	path = .vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule ".vim/bundle/vim-makegreen"]
	path = .vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule ".vim/bundle/vim-conque"]
	path = .vim/bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/Atom"]
	path = .vim/bundle/Atom
	url = https://github.com/vim-scripts/Atom.git
[submodule ".vim/bundle/codeburn"]
	path = .vim/bundle/codeburn
	url = https://github.com/vim-scripts/codeburn.git
[submodule ".vim/bundle/vim-mustang"]
	path = .vim/bundle/vim-mustang
	url = https://github.com/cschlueter/vim-mustang.git
[submodule ".vim/bundle/jellybeans"]
	path = .vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule ".vim/bundle/vim-wombat"]
	path = .vim/bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule ".vim/bundle/ingretu"]
	path = .vim/bundle/ingretu
	url = https://github.com/gmarik/ingretu.git
[submodule ".vim/bundle/xoria256"]
	path = .vim/bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule ".vim/bundle/vim-pyte"]
	path = .vim/bundle/vim-pyte
	url = https://github.com/therubymug/vim-pyte.git
[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/Sorcerer"]
	path = .vim/bundle/Sorcerer
	url = https://github.com/vim-scripts/Sorcerer.git
[submodule ".vim/bundle/rdark"]
	path = .vim/bundle/rdark
	url = https://github.com/vim-scripts/rdark.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-railscasts-theme"]
	path = .vim/bundle/vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule ".vim/bundle/mayansmoke"]
	path = .vim/bundle/mayansmoke
	url = https://github.com/vim-scripts/mayansmoke.git
[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule ".vim/bundle/skittlees-dark"]
	path = .vim/bundle/skittlees-dark
	url = https://github.com/vim-scripts/Skittles-Dark.git
[submodule ".vim/bundle/darkspectrum"]
	path = .vim/bundle/darkspectrum
	url = https://github.com/vim-scripts/darkspectrum.git
[submodule ".vim/bundle/ir-black"]
	path = .vim/bundle/ir-black
	url = https://github.com/wgibbs/vim-irblack.git
[submodule ".vim/bundle/underwater-mod"]
	path = .vim/bundle/underwater-mod
	url = https://github.com/mgutz/vim-colors.git
[submodule ".vim/bundle/underwater"]
	path = .vim/bundle/underwater
	url = https://github.com/imissmyjuno/Underwater-VIM-theme.git
[submodule ".vim/bundle/vim-orgmode"]
	path = .vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-tomorrow-theme"]
	path = .vim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/Vim-Tomorrow-Theme.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/ipython-vim"]
	path = .vim/bundle/ipython-vim
	url = https://github.com/ivanov/vim-ipython.git
[submodule ".vim/bundle/elrodeo"]
	path = .vim/bundle/elrodeo
	url = https://github.com/chmllr/vim-colorscheme-elrodeo.git
[submodule ".vim/bundle/vim-ipython"]
	path = .vim/bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule ".emacs.d/emacs-for-python"]
	path = .emacs.d/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule ".emacs.d/site-packages/projectile"]
	path = .emacs.d/site-packages/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule ".emacs.d/site-packages/emacs-for-python"]
	path = .emacs.d/site-packages/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
