Xft.*Hinting: 1
Xft.*RGBA: rgb
Xft.*hintstyle: hintslight
Xft.*antialias: 1

urxvt*font: xft:Fira Mono:size=10
urxvt.scrollBar: true
urxvt.internalborder: 6
urxvt.urgentOnBell: true

urxvt.saveLines:32767

urxvt.perl-lib: dotfiles/urxvt/
urxvt.perl-ext-common: default,matcher,tabbed,clipboard
! urxvt.keysym.M-Escape: perl:keyboard-select:search
! urxvt.keysym.M-s: perl:keyboard-select:search
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.urlLauncher: uzbl-browser
urxvt.matcher.button: 2
urxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

urxvt.foreground: #DDCCBB

! Brown BG
!*background: #30251D

! Terminal Colours
! black
*color0:  #222233
*color8:  #333344
! red
*color1:  #884444
*color9:  #EE6666
! green
*color2:  #777755
*color10: #AAAA88
! yellow
*color3:  #EEAA55
*color11: #EECC99
! blue
*color4:  #555577
*color12: #99AABB
! magenta
*color5:  #885577
*color13: #BB8899
! cyan
*color6:  #668899
*color14: #AACCBB
! white
*color7:  #CCCCCC
*color15: #F9F9F9

Emacs.Fontbackend: xft
